    <!doctype html>
   <html lang="en">
        <header>
            <div id="header-placeholder">{% include 'header.html' %}</div>
            <h1>About Us</h1>
        </header>
        <body>
            <p>Welcome to Sophie's World, your go-to destination for discovering the unexpected! We’re a passionate
                team of curious minds who believe that life is full of surprises, stories, and ideas waiting to be uncovered.
            </p>
            <p>
                Our mission is simple: to spark creativity, inspire curiosity, and bring a little magic to your day. Whether you’re here
                 to explore unique content, find fresh perspectives, or just have a bit of fun, we’re glad you stopped by.</p>
            </p>

        </body>
        <footer>
            <div id="footer-placeholder">{% include 'footer.html' %}</div>
        </footer>
    </html>
