<html>
    <header>
        <div id="header-placeholder">{% include 'header.html' %}</div>
    </header>
    <body>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <table>
            <caption><h1>Product Display</h1></caption>
            <thead>
                <tr>
                    <th scope="col"> Product id</th>
                    <th scope="col"> Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                {% for item in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.category }}</td>
                    <td>{{ item.price }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </body>
    <footer>
        <div id="footer-placeholder">{% include 'footer.html' %}</div>
   </footer>
</html>
